.billing-page{

min-height:100vh;

padding:50px 8%;

background:

radial-gradient(
circle at top right,
#3b2f0f,
transparent 35%
),

#09090b;

color:white;

}



.billing-page h1{

font-size:45px;

margin-bottom:10px;

}



.billing-page p{

color:#aaa;

}



.billing-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(320px,1fr));

gap:30px;

margin-top:50px;

}



.billing-card{

background:

rgba(255,255,255,.05);

border:

1px solid rgba(255,255,255,.1);

backdrop-filter:blur(20px);

border-radius:25px;

padding:35px;

}



.plan{

font-size:45px;

font-weight:900;

color:#ffc83d;

margin:20px 0;

}



.progress{

height:12px;

background:#222;

border-radius:20px;

overflow:hidden;

margin:20px 0;

}



.progress span{

display:block;

height:100%;

background:

linear-gradient(
90deg,
#ffc83d,
#ff9800
);

}



.billing-card button{


margin-top:30px;

width:100%;

padding:15px;

border:0;

border-radius:15px;

background:

linear-gradient(
135deg,
#ffc83d,
#ff9800
);

font-size:18px;

font-weight:bold;

cursor:pointer;

}



.billing-card li{

margin:15px 0;

color:#ddd;

}



@media(max-width:700px){

.billing-page{

padding:30px 20px;

}

}