.auth{

min-height:100vh;

display:grid;

grid-template-columns:1fr 480px;

background:#111018;

color:white;

}




.auth-left{

padding:80px;

display:flex;

flex-direction:column;

justify-content:center;


background:

radial-gradient(
circle at top left,
#ffca4b33,
transparent 35%
),

radial-gradient(
circle at bottom right,
#27d4c433,
transparent 35%
);

}




.brand{

display:flex;

align-items:center;

gap:20px;

}



.logo{

width:70px;

height:70px;

border-radius:20px;

display:flex;

align-items:center;

justify-content:center;

background:#ffca4b;

color:#111;

font-size:35px;

font-weight:900;

}




.brand h1{

font-size:35px;

}



.brand span{

color:#ffca4b;

}




.auth-left h2{

font-size:55px;

margin:50px 0 20px;

}



.auth-left p{

color:#aaa;

font-size:18px;

line-height:2;

max-width:600px;

}



.auth-left ul{

margin-top:30px;

padding:0;

list-style:none;

line-height:3;

color:#ddd;

}





.auth-card{

background:#181622;

padding:60px;

display:flex;

justify-content:center;

flex-direction:column;

box-shadow:
-20px 0 50px #0008;

}




.auth-card h2{

font-size:38px;

}



.subtitle{

color:#999;

margin-bottom:30px;

}





.field{

display:flex;

flex-direction:column;

gap:10px;

margin-bottom:22px;

}



.field label{

color:#ddd;

}



.field input{

height:55px;

background:#23202f;

border:1px solid #333;

border-radius:14px;

padding:0 18px;

font-size:16px;

color:white;

}




.field input:focus{

outline:none;

border-color:#ffca4b;

box-shadow:
0 0 0 4px #ffca4b22;

}




.btn-primary{

height:55px;

border:none;

border-radius:14px;

background:#ffca4b;

color:#111;

font-weight:800;

font-size:17px;

cursor:pointer;

}



.btn-primary:hover{

background:#ffd970;

}




.auth-error{

background:#421f25;

color:#ff9b9b;

padding:15px;

border-radius:12px;

margin-bottom:20px;

}




.divider{

margin:35px 0;

text-align:center;

position:relative;

}



.divider:before{

content:"";

height:1px;

background:#333;

position:absolute;

left:0;

right:0;

top:50%;

}




.divider span{

position:relative;

background:#181622;

padding:0 15px;

color:#777;

}



.auth-switch{

text-align:center;

color:#aaa;

}



.auth-switch a{

color:#ffca4b;

margin-left:8px;

}





@media(max-width:900px){


.auth{

grid-template-columns:1fr;

}



.auth-left{

display:none;

}



.auth-card{

min-height:100vh;

padding:30px;

}



}

.auth-card form button{

width:100%;

margin-top:10px;

}